---
interface Props {
  url: string;
  title: string;
  description?: string;
  pubDate?: string; 
}

const { url, title, description, pubDate } = Astro.props as Props;
---

<a href={url}> 
  <h3>{title}</h3> 
  {description && <p>{description}</p>}
  {pubDate && <p>Published on: {pubDate}</p>} 
</a>