---
const { title, url } = Astro.props;
---
<!-- Add the templating used to create each item in a blog post list. -->
<li><a href={url}>{title}</a></li>
<!-- Import the new component into your Blog page. --> -->